/*
Theme Name: Pushpanjali Firm
Theme URI: https://shreesapapushpanjali.com
Author: Pushpanjali Firm
Author URI: https://shreesapapushpanjali.com
Description: Pushpanjali Firm Theme
Tags: Advertisement, Documentary, Radio, Telefilms
Version: 1.0
Requires at least: 5.0
Tested up to: 5.4
Requires PHP: 7.0
Note: The CSS files are loaded from assets/css/ folder.
*/

/* Fonts */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Mobile CSS */

/* @media only screen and (max-width: 600px) {
  .header-right {
    display: none !important;
  }

  .side-bar {
    display: block !important;
  }

  .header-mid {
    margin-left: 155px;
  }

  .img_content_main {
    top: 20% !important;
  }

  .about_btn {
    width: 45% !important;
  }

  .service_btn {
    width: 45% !important;
  }

  .img_content_main h3 {
    font-size: 45px !important;
  }

  .img_content_main {
    left: 2% !important;
  }

  .our-client-sec .carousel-item .clients-image img {
    width: 110px !important;
  }

  .clients-image img {
    margin-bottom: 10px !important;
  }

  .hero_image_section img {
    height: 380px !important;
  }

  #message-md .right-about img {
    width: 100% !important;
    height: 500px !important;
  }
} */

/* CSS */

/* * {
  box-sizing: border-box;
}

:root {
  --primary-color: #003f88;
  --secondary-color: #fdc500;
  --third-color: #235187;
  --text-color: rgb(90, 90, 90);
  --secondary-text: #e4e6e8;
  --white: #fff;
  --black: #000;
  --fourth-color: #18365a;
  --background: #e1ecf9;
}

body {
  font-family: Poppins;
  background-color: #fcfbfb;
} */

/* Header */

/* .top-header {
  background: var(--primary-color);
}

.navigation-bar .navbar-toggler {
  display: none;
}

.top-header {
  position: sticky;
  top: 0;
  z-index: 10;
}

.main-header-sec {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 90px;
  position: relative;
}

.header-mid {
  display: flex;
}

.header-right {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.search {
  background: #fff;
  padding: 0px 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.search i {
  color: var(--secondary-color);
}

.search input {
  border: none;
}

.search input:focus {
  box-shadow: none;
}

.search a:hover i {
  color: #fff;
}

.search button {
  background: none;
  border: none;
}

.side-bar .offcanvas {
  width: 75% !important;
}

.side-bar .offcanvas .cross-button button {
  font-size: 30px;
  color: #fff;
  border: none;
  background: none;
  width: 15%;
  padding: 10px;
  margin-right: 20px;
}

.side-bar .burger {
  font-size: 25px;
}

.side-nav-heading .logo-wrapper {
  justify-content: center;
  width: 100%;
  display: flex;
}

.logo-wrapper img {
  width: 77px;
  height: 77px;
}

.side-bar {
  display: none;
}

.side-social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin: 10px 0px;
}

.side-social ul {
  display: flex;
  list-style: none;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 0px;
  margin-bottom: 0px;
}

.side-social ul li {
  padding: 0px 5px;
}

.side-social a {
  padding: 10px;
  border-radius: 50px;
  background: #ffffff17;
  color: #fff;
}

.side-social i {
  font-size: 14px;
}

.side-menu-items {
  margin-top: 10px;
}

.side-bar .side-menu-items .nav-item {
  margin: 15px 30px !important;
  font-size: 18px;
}

.side-nav-buy {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.side-nav-buy button {
  width: 70%;
}

.cross-button {
  display: flex;
  justify-content: end;
}

.navbar-nav .nav-link {
  color: var(--white);
  opacity: 0.9;
  margin: 0px 5px;
  font-size: 18px;
}

.navbar-nav .nav-link.active {
  color: var(--white);
}

.contact button {
  background: var(--secondary-color);
  color: var(--black);
  border-color: var(--secondary-color);
  transition: all 0.3s ease-in-out;
}

.contact button:hover {
  color: var(--white);
  background: var(--black);
}

.side-nav-buy button {
  background: var(--secondary-color);
  color: var(--text-color);
  border-color: var(--secondary-color);
  transition: all 0.3s ease-in-out;
}

.side-nav-buy button:hover {
  color: var(--white);
  background: var(--text-color);
}

.offcanvas {
  background: var(--primary-color);
}

.side-nav-heading .logo-wrapper img {
  margin-bottom: 10px;
}
*/
/* Hero Section */

/* .hero_image_section {
  padding: 0px;
}

.hero_image_section img {
  width: 100%;
  height: 670px;
  object-fit: cover;
  filter: brightness(0.7);
}

.hero_image_section .img_content {
  position: absolute;
  top: 80%;
  left: 40%;
}

.img_content h2 {
  font-size: 50px;
  color: var(--white);
}

.img_content h2::before {
  content: "";
  position: absolute;
  top: 90%;
  width: 80px;
  height: 4px;
  background-color: white;
}

.img_content_main h3 {
  font-size: 50px;
  color: var(--white);
}

.img_content_main {
  position: absolute;
  top: 58%;
  left: 8%;
  color: var(--white);
}

.hero_btn {
  margin-top: 70px;
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.service_btn {
  background-color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
  border-radius: 50px !important;
  font-size: 22px !important;
  font-weight: 600 !important;
  height: 65px;
  width: 30%;
}

.service_btn a {
  color: var(--white);
  text-decoration: none;
}

.about_btn {
  background-color: var(--white) !important;
  border-color: var(--white) !important;
  border-radius: 50px !important;
  font-size: 22px !important;
  font-weight: 600 !important;
  height: 65px;
  width: 30%;
}

.about_btn a {
  color: var(--black);
  text-decoration: none;
}  */
